.card
{
    /*display: inline-block;*/
    float: left;
}

div{
    width: 20%;
    padding-left: 10%;
}

h2{
    text-align: center;
}

div img
{
    height: 200px;
    width: 100%;
}

nav ul
{
    list-style: none;
    
}

nav li
{
    text-decoration: none;
   
    text-align:justify ;
}